.contenedor{
	background: violet;
	border: 1px solid blue;
	overflow: hidden;
	

}
h1{
	text-align: center;
	font-family: 'Playfair Display', serif;

}

li{
	float: left;
	height: 10px;
	margin: 50px;
}

.img2{
	float: right;
	margin: 0em 2em;
	border: 1px solid black;
}

.img1{
	float: left;
	margin: 0em 2em;
	border: 1px solid black;
}	
.fa.fa-whatsapp{
	color: green;
	align
}